@font-face {
  font-family: 'logoFont';
  src: url(./Styles/fonts/logoFont.TTF);
}
.App {
  text-align: center;
}

.header {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}


.logoLink {
  text-decoration: none;
  font-family: 'logoFont';
  color:#E44343;
}

.navBar {
  font-family: 'logoFont';
  color:#E44343;
  text-decoration: none;  
} 
 .navBar:hover {
  transform: scale(1.5);
  color:rgb(71, 120, 227);
} 

@media screen and (min-width: 768px) {
  .header{
    font-size: 1.2rem;
  }
  .logo{
    position: absolute; 
    left:2.5rem;
  }

  .profile, .login, .signup, .logout{
    padding-right:2.5rem;
  }
  .logoLink {
    text-decoration: none;
    font-family: 'logoFont';
    color:#E44343;
    font-size:2.5rem;
  }
}


@media screen and (max-width: 767px) {
  .header {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }


  .logoLink {
    text-decoration: none;
    font-family: 'logoFont';
    color:#E44343;
    font-size:2.5rem;
  }
}