@font-face {
  font-family: 'logoFont';
  src: url(./Styles/fonts/logoFont.TTF);
}
.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.header {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  font-size: 1.2rem;

}


.logo{
  position: absolute;
  left:20px;
  
}
.profile, .login, .signup, .logout{
  padding-right:20px;
}

.logoLink {
  text-decoration: none;
  font-family: 'logoFont';
  color:#E44343;
  font-size:40px;
}

.nav {
  font-family: 'logoFont';
  color:#E44343;
  text-decoration: none;
  
}
.nav:hover {
  transform: scale(1.5);
  color:rgb(71, 120, 227);
}
/* .login{
  padding-right:20px;
} */
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
